<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    <h1>Register</h1>

    <form id="registerForm">

        <input
            type="text"
            id="name"
            placeholder="Enter your name"
        >

        <input
            type="email"
            id="email"
            placeholder="Enter your email"
        >

        <input
            type="password"
            id="password"
            placeholder="Enter your password"
        >

        <button type="submit">Register</button>

    </form>

    <p id="message"></p>

    <a href="/">
        <button type="button">Back to Home</button>
    </a>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>